livekit-agents[silero,turn-detector]==1.3.*
livekit-plugins-noise-cancellation==0.2.*
livekit-api
python-dotenv
aiohttp
fastapi
uvicorn
gunicorn
PyJWT
qdrant-client
openai
groq
numpy
langchain-community
langchain-text-splitters
pypdf
tiktoken
livekit-plugins-deepgram
livekit-plugins-sarvam
livekit-plugins-cartesia
livekit-plugins-openai
tzdata